/* Reset */

* {
    margin: 0px;
    padding: 0px;
}


/* Body */

body {
    font-family: 'Roboto', sans-serif;
    background-color:#555555;

    overflow-x: hidden;
}

/* Header */

#header {
    position: fixed;
    height: 100px;
    width: 100%;
    top: 0px;
    
    z-index: 1000;
    background-color: #333333;
}

/* Navigation Bar */

.separator {
    height: 4px;
    position: absolute;
    bottom: 0px;
    width: 100%;

    background-color: #bf4e4e;
}

#nav {
    height: 96px;
}

#nav * {
    height: 96px;
    line-height: 96px;
    white-space: nowrap;
}

.nav-title {
    padding-left: 50px;
    float: left;
    
    font-size: 2em;
}

.nav-title h1 {
    color: #dddddd;
    font-weight: bold;
}

.nav-buttons {
    padding-right: 50px;
    float: right;
}

.buttons-list {
    list-style-type: none;    
}

.buttons-list-item {
    display: inline-block;
    padding-left: 25px;
    font-size: 2em;
}

.buttons-list-item a {
    text-decoration: none;
    color: #cccccc;
}

.buttons-list-item a:hover {
    color: #ffffff;
}

/* View */

.view {
    height: calc(100vh - 100px); /* header offset */
    width: 100vw;
    position: relative;
    background-color: #aaaaaa;
}

.header-offset {
    height: 100px;
}

.anchor {
    position: absolute;
    top: -100px;
}

/* Acceuil */

#top {
}

/* About Me */

#aboutme {
}

/* Projects */

#projects {
}

/* Contact Me */

#contactme {
}