body {
    margin: 0px;
    font-family: 'Roboto', sans-serif;    
}

nav {
    background-color: #333333;
    height: 100px;
    font-size: 25px;
}

nav div {
    height: 100%;

    display: table;
}

nav div * {
    display:table-cell;
    vertical-align:middle;
    font-weight: normal;
    color: #cccccc;
}

nav #title {
    float: left;
    padding-left: 100px;
}

nav #title h1 {
    line-height: normal;
    font-size: 35px;
    font-weight: bold;
}

nav #link {
    float: right;  
    padding-right: 100px;
}

nav #link img {
    height: 25px;
    margin-right: 5px;
}

nav #link ul {
    padding: 0px;
    list-style-type: none;
}

nav #link ul li {
    display: inline-flex;
}

nav #link ul li a {
    text-decoration: none;
    padding: 0px 20px;
    display: flex;
}

nav #link ul li a:hover {
    color: #ffffff;
}

#nav-separator {
    background-color: #bf4e4e;
    height: 4px;
}